// variables tipograficas
$ubuntu-reg:'Ubuntu', sans-serif;
$ubuntu-bold:700;
$poppins:'Poppins', sans-serif;
$poppins-bold:700;
$fontsize:3rem;

//Variables de colores
// color del blanco al gris claro

$tangerine:#ffaf6d;
$orange:#ffa500;
$negro:#000;
$negro-sable:#060606;
$negro-charcoal:#2e1503;
$blanco:#fff;


//tamaños fuentes (sin px para usar el converter de mixin)
$xxxxx-large: 50;
$xxxx-large: 45;
$xxx-large: 40;
$xx-large: 35;
$x-large: 30;
$large: 20;
$medium: 16;
$small: 14;
$x-small: 12;
